.bubbleUIContainer {
  width: 100%;
  height: 550px;
  background-color: white;
}

.child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.bubbleItem {
  width: 100%; /* width expands to fit bubble */
  height: 100%; /* width expands to fit bubble */
  border-radius: 50%; /* rounded border forms a circle */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
