/* Base css */
.bubbleUIContainer {
  width: 100%;
  height: 550px;
  background-color: var(--brand-secondary-100);
}

.child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.bubbleItem {
  width: 100%; /* width expands to fit bubble */
  height: 100%; /* width expands to fit bubble */
  border-radius: 50%; /* rounded border forms a circle */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

/* Card flip */
.perspective {
  perspective: 1000px;
}

.bubbleCard {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.bubbleCard.flipped {
  transform: rotateY(180deg);
}

.bubbleFront,
.bubbleBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.bubbleBack {
  transform: rotateY(180deg);
}
